.car {
    width: 100%;
    height: auto;
    padding: 0;
}

#arrowwrapper {
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 20px;
    margin-bottom: 20px;
}

#downarrow {
    font-size: 3em;
    text-align: center;
}

#downarrow a {
    color: black;
}

#downarrow a:hover {
    color: yellow;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-caption {
    border-radius: 20px;
    top: 100px;
    bottom: auto;
    font-size: 3em;
    color: yellow;
    background: rgba(0, 0, 0, .5);
    vertical-align: middle;
}

.carousel-inner img {
    width: 100%;
    margin: auto;
    max-width: 100%;
    height: auto;
    line-height: 1;
    border: 0;
    opacity: .85;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
}

img {
    vertical-align: middle;
}

#slidetext {
    font-size: .7em;
}

#pagelink {
    color: yellow;
    text-decoration: underline;
}

#pagelink:hover {
    color: white;
    text-decoration: none;
}