@media screen and (max-width: 768px) {
    .navbar-collapse {
        background-color: black;
        border-style: none;
        width: 250px;
        top: 50px;
        right: 5px;
        position: absolute;
        border-radius: 10px;
        padding-top: 20px;
    }
    ul.nav {
        transform: rotate(-180deg);
    }
    ul.nav li {
        width: 100%;
        height: 50px;
        transform: rotate(-180deg);
    }
    .navbar-fixed-top {
        background-color: transparent;
    }
    .navigation {
        background-color: transparent;
    }
    #logo {
        margin-bottom: 15px;
        margin-left: 15px;
        transform: rotate(-180deg);
    }
    #wrap {
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        width: auto;
    }
    #arrowwrapper {
        visibility: hidden;
    }
    .carousel-caption {
        font-size: 20px;
        color: yellow;
        background: rgba(0, 0, 0, .5);
        vertical-align: middle;
    }
}