body {
    background-color: white;
    height: 900px;
}

::-webkit-scrollbar {
    display: none;
}

.greys {
    height: auto;
    width: auto;
    background-color: grey;
    padding-bottom: 20px;
}

.whites {
    height: auto;
    width: auto;
    background-color: grey;
    padding-bottom: 20px;
}

.page-header {
    text-align: center;
}

#map-canvas {
    width: 100%;
    height: 100%;
    height: calc(100% - 0px);
}