body {
    background-color: white;
    height: 900px;
}

::-webkit-scrollbar {
    display: none;
}

.nav {
    margin: auto;
    width: 100%;
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

ul.nav li {
    float: right;
    width: 115px;
    text-align: left;
}

.navbar-fixed-top {
    background-color: gray;
    border: 0px;
}

ul.nav li a {
    font-family: 'Lato', Tahoma, Geneva, sans-serif;
    font-size: 13px;
    font-weight: 700 !important;
    line-height: 4;
    text-align: center;
    cursor: pointer;
    left: 2px;
    color: white;
}

ul.nav li a:hover {
    color: yellow;
    background-color: black;
}
/*hamburger toggle*/

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: black;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

.navbar-toggle {
    background-color: black;
}

.navbar-collapse {
    background-color: black;
    border-style: none;
}
/**/

.greys {
    height: 800px;
    width: 100%;
    background-color: grey;
}

.whites {
    height: 800px;
    width: 100%;
    background-color: white;
}

.navigation {
    height: 50px;
    width: 100%;
    background-color: gray;
}

.car {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    padding: 0;
}

#arrowwrapper {
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 20px;
    margin-bottom: 20px;
}

#downarrow {
    font-size: 3em;
    text-align: center;
}

#downarrow a {
    color: black;
}

#downarrow a:hover {
    color: yellow;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-caption {
    top: 100px;
    bottom: auto;
    font-size: 3em;
    color: yellow;
    background: rgba(0, 0, 0, .5);
    vertical-align: middle;
}

.carousel-inner img {
    width: 100%;
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
    line-height: 1;
    margin: auto;
    border: 0;
    opacity: .85;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
}

img {
    vertical-align: middle;
}

#logo {
    margin-top: 15px;
    margin-left: 15px;
}

.page-header {
    text-align: center;
}

#map-canvas {
    width: 100%;
    height: 100%;
    height: calc(100% - 0px);
}

@media screen and (max-width: 768px) {
    .navbar-collapse {
        background-color: black;
        border-style: none;
        width: 250px;
        top: 50px;
        right: 5px;
        position: absolute;
        border-radius: 10px;
        padding-top: 20px;
    }
    ul.nav {
        transform: rotate(-180deg);
    }
    ul.nav li {
        width: 100%;
        height: 50px;
        transform: rotate(-180deg);
    }
    .navbar-fixed-top {
        background-color: transparent;
    }
    .navigation {
        background-color: transparent;
    }
    ul.nav li a:hover {
        color: yellow;
        background-color: transparent;
    }
    #logo {
        margin-bottom: 15px;
        margin-left: 15px;
        transform: rotate(-180deg);
    }
}